@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliAuth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BibliAuth.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>   
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <h1>Book in</h1>                   
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>                   
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Accueil</a>
                            </li>                           
                            @if (SignInManager.IsSignedIn(User))
                            {                    
                                if(User.Identity.Name == "gregory.schoemaecker@adminbookin.fr")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Réservations en attente</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Livres" asp-action="Create">Ajouter <i class="fas fa-plus"></i></a>
                                    </li>
                                }                             
                            }                          
                        </ul>
                        <form class="d-flex">                           
                            <input class="form-control me-2" name="value" type="search" placeholder="Rechercher un livre..." aria-label="Search" required>
                            <button class="btn btn-outline-dark" asp-controller="Livres" asp-action="InputSearch"type="submit"> <i class="fas fa-search"></i></button>
                        </form>                       
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()            
        </main>
    </div>
    <footer class="border-top footer text-muted bg-info h-2">
        <div class="container">
            &copy; 2023 - BibliAuth - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/d9331d8d10.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
