@model Biblioteque.Models.ViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<main class="container">
    <section class="row g-5">
        @for (var i = 0; i < Model.LivreViewM.Count; i++)
        {
            <article class="row-1 col-lg-3 col-md-4 col-sm-6 animation-home">
                <figure class="border border-dark">
                    <a asp-action="Details" asp-route-id="@Model.LivreViewM[i].Id">
                        <img class="img-fluid" src="~/Upload/@Html.DisplayFor(modeL => modeL.LivreViewM[i].CheminImage )" alt="Couverture de Livres" />
                    </a>
                </figure>
            </article>

        }       
    
           @*     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
         


</section>
</main>


        



