img {
display: block;

}

figure {
    background-color: white;
    object-fit: cover;
    width: 220px;
    height: 340px;
  
}

  .resume {
   color: black;
    position: absolute;
    background-color: rgba(25, 135, 84,0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    text-align: center;
   width: 200px;
   
  }
  
  .resume:hover {
opacity: 1;
  }
  

