@model Biblioteque.Models.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/biblio.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
    <title>Site de Bibiloteque</title>
</head>
<body>
    <header>
        <h1 class="mb-0">Book-in</h1>
    </header>

    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Rechercher un livre..." aria-label="Search">
        <button class="btn btn-success" type="submit">Rechercher</button>
    </form>
    <section class="container">
        <main class="row">
            <aside class="shadow p-3 mb-5 bg-body rounded col-xl-3 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home">
                <h3>Last Book</h3>


                @for (var i = 0; i < Model.LivreViewM.Count; i++){
                    <a class="col-9 col-xl-6 col-md-3 col-sm-3" href="#">
                        <img class="img-fluid"
                         src="~/Upload/@Html.DisplayFor(modeL => modeL.LivreViewM[i].CheminImage)"
                         alt="Couverture de Livres" />
                    </a>
                    if( i >= 5){
                        break;
                    }                      
                }             
            </aside>
         
                <article class="2 col-xl-7 col-lg-10 col-md-12 col-sm-12 d-none d-sm-block animation-home">
                    <figure class="col-xl-9 col-md-12 col-sm-12">
                        <a href="./ficheProduit.html" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <img class="img-fluid"
                        src="~/Upload/@Model.LivreViewM_Nolist.CheminImage"
                        alt="Couverture de Livres"/>                    
                            <div class="containerUlP">
                                <ul>
                                    <li>Titre : @Model.LivreViewM_Nolist.Titre </li>
                                    <li>Auteur :@Model.AuteurViewM_Nolist.Prenom @Model.AuteurViewM_Nolist.Nom </li>
                                    <li>Date de parution : @Model.LivreViewM_Nolist.Date_Parution</li>
                                    <li>Genre : @Model.GenreViewM_Nolist.Nom</li>
                                    <p>Résumé :@Model.LivreViewM_Nolist.Synopsis</p>
                                </ul>
                            </div>
                        </a>
                    </figure>
                </article>       
            @for (var j = 0; j < Model.LivreViewM.Count; j++){
                if(Model.LivreViewM[j].CoupDeCoeur){
                    <aside class="shadow p-3 mb-5 bg-body rounded col-xl-2 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home">
                        <h3>Popular Book</h3>
                        <a class="col-9 col-xl-12 col-md-3 col-sm-3" href="#">
                            <img class="img-fluid"
                         src="~/Upload/@Html.DisplayFor(modeL => modeL.LivreViewM[j].CheminImage)"
                         alt="Couverture de Livres" />
                        </a>
                    </aside>
                    break;
                }            
            }          
        </main>
    </section>
    
</body>
</html>
