@model BibliAuth.Models.ViewModel

@{
    ViewData["Title"] = "Home Page";
}
<section class="container">
    <main class="row justify-content-center">
        <aside class=" blocSectionA shadow p-3 mb-0 bg-info rounded col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home justify-content-around mt-0">
            <h3 class="col-xl-3">Derniers arrivages</h3>
       
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img 
                     src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
  
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img 
                     src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>

            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
          
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img 
                     src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
        </aside>
    </main>
</section>
<section class="container">
    <main class="row justify-content-center">
        <div class=" blocSectionA shadow p-3 mb-5 rounded col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home">
         <aside class="col-xl-3">       
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Catégories</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Roman</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Policier/Thriller</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Science fiction</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Fantasy</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Théâtre</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Comics</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Manga</button>
            </aside>
            <article class="col-xl-6 d-flex flex-row">
             <div class="container_img_reservation col-xl-3">
                    <img class="col-xl-12 img-fluid" src="/Upload/batman.jpg" />
                    <button type="button" class="col-xl-12 btn btn-primary btn-lg mt-3">Réserver</button>
             </div>  
             <ul class="col-xl-6">
                 <li>L'école des sorciers</li>
                    <li>J.K ROWLING</li>
                    <li>Genre : Fantasy</li>
                    <li>Date de parution : 12/10/2017</li>
                    <li>ssfsfssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</li>
             </ul>             
          </article>
         <aside class="col-xl-3 bg-info">
             <h4>Coup de coeur du mois</h4>          
             <img src="/Upload/batman.jpg" />
         </aside>
        </div>
    </main>
</section>
