@model BibliAuth.Models.ViewModel

@{
    ViewData["Title"] = "Home Page";
}
<section class="container">
    <main class="row justify-content-center">
        <aside class=" blocSectionA shadow p-3 mb-0 bg-info rounded col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home justify-content-around mt-0">
            <h3 class="col-xl-3">Derniers arrivages</h3>
       
            <a class="col-9 col-xl-2 col-md-3 col-sm-3" href="#">
                <img class="img-fluid"
                     src="~/Upload/batman2.jpg"
                     alt="Couverture de Livres" />
            </a>
  
            <a class="col-9 col-xl-2 col-md-3 col-sm-3" href="#">
                <img class="img-fluid"
                     src="~/Upload/death_note.jpg"
                     alt="Couverture de Livres" />
            </a>
         
            <a class="col-9 col-xl-2 col-md-3 col-sm-3" href="#">
                <img class="img-fluid" src="~/Upload/harry.jpg"
                     alt="Couverture de Livres" />
            </a>
            <a class="col-9 col-xl-2 col-md-3 col-sm-3" href="#">
                <img class="img-fluid" src="~/Upload/zola.jpg"
                     alt="Couverture de Livres" />
            </a>
        </aside>
    </main>
</section>
<section class="container">
    <main class="row justify-content-center">
        <div class=" blocSectionA shadow p-3 mb-5 mt-0 rounded col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home">
         <aside class="col-xl-3">       
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Catégories</button>
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Roman</button>
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Policier/Thriller</button>
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Science fiction</button>
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Fantasy</button>
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Théâtre</button>
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Comics</button>
                <button type="button" class="col-xl-12 btn btn-primary btn-lg">Manga</button>
            </aside>
            <article class="col-xl-6 d-flex flex-row justify-content-center">
             <div class="container_img_reservation col-xl-3">
                    <img class="col-xl-12 img-fluid" src="/Upload/batman2.jpg" />
                    <button type="button" class="col-xl-12 btn btn-primary btn-lg mt-3">Réserver</button>
             </div>  
             <ul class="col-xl-6">
                    <li>BATMAN - Tome 1 </li>
                    <li>Greg Capullo</li>
                    <li>Genre : Comics</li>
                    <li>Date de parution : 07/06/2012</li>
                    <li>Après une longue période d’absence, 
                        Bruce Wayne est de retour sous le masque de Batman, 
                        à la poursuite d’un mystérieux tueur en série aux allures de hibou, et dont la prochaine cible n’est autre que... 
                        Bruce Wayne. Plus il progresse dans son enquête, plus le Chevalier Noir rassemble d’éléments sur les motivations de son ennemi. 
                        Il découvre alors une sombre vérité mêlant la famille Wayne aux fondations troubles de Gotham City.
                    </li>
             </ul>             
          </article>
         <aside class="col-xl-3 bg-info d-flex flex-column justify-content-center align-items-center">
                <h4>Coup de <i class="fas fa-heart"></i> du mois</h4>
                <img class="img-fluid col-xl-7" src="/Upload/batman.jpg" />
         </aside>
        </div>
    </main>
</section>
