@model BibliAuth.Models.ViewModel

@{
    ViewData["Title"] = "Home Page";
}
<section class="container">
    <main class="row justify-content-center">
        <aside class=" blocSectionA shadow p-3 mb-0 bg-info rounded col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home justify-content-around mt-0">
            <h3 class="col-xl-3">Derniers arrivages</h3>
       
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img 
                     src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
  
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img 
                     src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>

            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
          
            <a class="col-9 col-xl-1 col-md-3 col-sm-3" href="#">
                <img 
                     src="~/Upload/batman.jpg"
                     alt="Couverture de Livres" />
            </a>
        </aside>
    </main>
</section>
<section class="container">
    <main class="row justify-content-center">
        <div class=" blocSectionA shadow p-3 mb-5 bg-info rounded col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 row gy-3 gx-3 animation-home">
         <aside class="col-xl-4">       
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Catégories</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Roman</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Policier/Thriller</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Science fiction</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Fantasy</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Théâtre</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Comics</button>
                <button type="button" class="col-xl-9 btn btn-primary btn-lg">Manga</button>
            </aside>
         <article class="col-xl-6">
             <img src="/Upload/batman.jpg" />
             <h3>L'école des sorciers</h3>
                <h5>J.K ROWLING</h5>
                <h5>Genre : Fantasy</h5>
                <h5>Date de parution : 12/10/2017</h5>
                <button type="button" class="col-xl-3 btn btn-primary btn-lg">Réserver</button>
         </article>
         <aside class="col-xl-2">
             <h4>Coup de coeur du mois</h4>          
             <img src="/Upload/batman.jpg" />
         </aside>
        </div>
    </main>
</section>
