@model BibliAuth.Models.ViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Livre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LivreViewM_Nolist.Titre" class="control-label"></label>
                <input asp-for="LivreViewM_Nolist.Titre" class="form-control" />
                <span asp-validation-for="LivreViewM_Nolist.Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivreViewM_Nolist.Date_Parution" class="control-label"></label>
                <input asp-for="LivreViewM_Nolist.Date_Parution" class="form-control" />
                <span asp-validation-for="LivreViewM_Nolist.Date_Parution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivreViewM_Nolist.Synopsis" class="control-label"></label>
                <input asp-for="LivreViewM_Nolist.Synopsis" class="form-control" />
                <span asp-validation-for="LivreViewM_Nolist.Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivreViewM_Nolist.CheminImage" class="control-label"></label>
                <input asp-for="LivreViewM_Nolist.CheminImage" class="form-control" />
                <span asp-validation-for="LivreViewM_Nolist.CheminImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LivreViewM_Nolist.CoupDeCoeur" name="heart" /> @Html.DisplayNameFor(model => model.LivreViewM_Nolist.CoupDeCoeur)
                </label>
            </div>
            <input type="hidden" asp-for="LivreViewM_Nolist.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
